@media screen and (max-width: 576px) {
  nav {
    display: none;
  }
  .dropdown {
    display: block;
    cursor: pointer;
  }
  .reso {
    position: static;
    font-size: 3.75rem;
    transform: translate(0);
  }
  .aura {
    position: static;
    font-size: 60px;
    margin-bottom: -50px;
    transform: translate(0);
  }
  .hero img {
    position: static;
    width: 100%;
    transform: translate(0);
  }
  .innerhero {
    text-align: center;
  }
  .img-1,
  .img-3 {
    display: none;
  }
  .sec1 {
    padding: 40px 0px;
  }
}

/* tablet */

@media (min-width: 576px) and (max-width: 992px) {
  .aura {
    font-size: 110px;
    transform: translate(25%, 140%);
  }
  .reso {
    font-size: 110px;
    transform: translate(25%, 60%);
  }
  .hero img {
    width: 70%;
  }
  .sec1 {
    padding: 60px 0;
  }
}
